/* Global styles */
html {
    font-family: 'Times New Roman', Times, serif;
}

/* Media query for small screens (e.g., smartphones) */
@media (max-width: 640px) {
    .float-left,
    .float-right {
      float: none ;
    }
    .w-full {
      width: 100% ;
    }
    .ml-7,
    .ml-10 {
      margin-left: 0 ;
    }
    .text-center {
      text-align: center ;
    }
  }
  
  /* Media query for medium screens (e.g., tablets) */
  @media (min-width: 641px) and (max-width: 1024px) {
    .float-left {
      float: left ;
    }
    .float-right {
      float: right ;
    }
    .ml-7 {
      margin-left: 1.75rem ;
    }
    .ml-10 {
      margin-left: 2.5rem ;
    }
  }
  

